.list-item {
  list-style: none;
  margin: 10px;
}

.img-btn {
  background-color: transparent;
  border-width: 0px;
  cursor: pointer;
}

.thumbnail-img-styles {
  height: 120px;
  width: 120px;
}

@media screen and (max-width: 576px) {
  .list-item {
    margin: 2px;
  }

  .thumbnail-img-styles {
    height: 65px;
    width: 65px;
  }
}
